@use "styles/colours";
@use "styles/screens";

.page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  min-height: -webkit-fill-available;
  overflow: hidden;
  border: 8px solid;
  border-image: colours.$gradient 1;

  @include screens.md {
    font-size: 1.5rem;
  }
}

.section {
  margin: 1rem 20% 1rem 4rem;

  @include screens.lg {
    margin: 1rem 30% 1rem 5rem;
    max-width: 47rem;
  }
}
