@use "styles/colours";
@use "styles/fonts";

.secret_santa {
  color: colours.$woodsmoke;
  background: colours.$whisper;
  background: #b06594;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-family: fonts.$secret-santa-font;
  //   padding: 2rem;
  font-size: 0.9rem;
}

.santa {
  border: 1px solid colours.$violet;
  padding: 1rem;
  margin: 1rem 0rem;
}

.input {
  display: flex;
  flex-direction: column;
    .label {
    //   line-height: 1;
      margin-top: 0.8rem;
    }
  input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #222427;
    font-family: fonts.$secret-santa-font;
    font-size: 1em;
    color: #9a9fa7;
    background: #303339;
    &:focus {
      border-color: colours.$blue;
    }
  }
//   margin-bottom: 1rem;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 4px;
  border: 1px solid colours.$whisper;
  border-radius: 5px;
  max-height: 200px;
  color: #9a9fa7;
  background: #303339;
  border: 1px solid #222427;
  max-height: 121px;
}
