@use "styles/colours";
@use "styles/screens";

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  border: 8px solid;
  border-image: colours.$gradient 1;
  padding: 1rem;

  @include screens.md {
    font-size: 1.5rem;
  }
}

.section {
  margin: 1rem;

  @include screens.lg {
    margin: 1rem 30% 1rem 1rem;
    max-width: 47rem;
  }
}

.highlight {
  display: inline;
  color: colours.$woodsmoke;
  background: colours.$whisper;
  padding: 0.5rem;
  -webkit-box-decoration-break: clone;
  -ms-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
}
.highlight a {
  color: colours.$rose;
  text-decoration: none;
  border-bottom: 3px solid colours.$woodsmoke;
  padding-bottom: 1px;
}
.highlight a:hover,
.highlight a:focus {
  color: colours.$blue;
  box-shadow: 0px 0px 0px 3px colours.$blue;
  border-bottom-color: colours.$blue;
}
