html,
body {
    background: #000000;
    font-family: 'Bree Serif', serif;
    line-height: 1.6rem;
    letter-spacing: 0.05rem;
    height: 100%;
    position: relative;
}

#bg-top-half {
    width: 200%;
    background: #FFFFFF;
}
.nav {
    z-index: 10;
}

a {
    color: white;
    outline: none;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
}

a:hover {
    outline: none;
    color: #5355DF;
}

/* #menu-btns a {
    color: black;
}

#menu-btns a:hover {
    color: white;
}

#logo a {
    color: #FFFFFF;
}

#logo a:hover {
    color: black;
} */

.inner-nav {
    width: 50vh;
}

.navbar-rotated-right {
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(90deg);
    transform-origin: left top;
    position: fixed;
    top: 0;
    left: 100%;
    white-space: nowrap;
    width: 100vh;
}

.navbar-rotated-left {
    -webkit-transform: rotate(-90deg) translateX(-100%);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(-90deg) translateX(-100%);
    -moz-transform-origin: left top;
    -ms-transform: rotate(-90deg) translateX(-100%);
    -ms-transform-origin: left top;
    -o-transform: rotate(-90deg) translateX(-100%);
    -o-transform-origin: left top;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left top;
    width: 100vh;
    position: fixed;
    font-size: 2rem;
}

