{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="row">

    <div class="col-12 bd-content">
        <h2 class="title">Hello, I'm Hector.</h2>
    </div>

    <div class="col-12 bd-content">
        <div class="card white shadow my-2">
            <div class="card-body">


                    <h4 class="card-title title">Bio</h4>
                    <p>
                        I'm a London based programmer, experienced in Python
                        and a variety of web languages. I used to do maths.
                        I make music in my spare time.
                    </p>


            </div>
        </div>
    </div>

    <div class="col-md-6 bd-content">
        <div class="card white shadow my-2">
            <div class="card-body">


                    <h4 class="card-title title">Experience</h4>
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <h5>Web Developer, <a target="_blank" href="https://artlogic.net/">Artlogic Media</a></h5>
                            <h6>Jun 2017 - Present</h6>
                        </li>
                        <li class="mb-3">
                            <h5>Co-founder, <a target="_blank" href="https://www.facebook.com/profile.php?id=100010140587110">*iggle</a></h5>
                            <h6>August 2015 - Present</h6>
                        </li>
                    </ul>

                    <h4 class="card-title title">Education</h4>
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <h5>King's College London, BSc Mathematics</h5>
                            <h6>2013 - 2016</h6>
                        </li>
                    </ul>


            </div>
        </div>
    </div>  
    
    <div class="col-md-6 bd-content">
        <div class="card white shadow my-2">
            <div class="card-body">

                    <h4 class="card-title title">Links</h4>
                    <ul class="list-unstyled">
                        <li><a href="mailto:contact@hectorbennett.com">contact@hectorbennett.com</a></li>
                        <li><a target="_blank" href="https://github.com/hectorbennett">github.com/hectorbennett</a></li>
                        <li><a target="_blank" href="https://www.linkedin.com/in/hector-bennett">linkedin.com/in/hector-bennett</a></li>
                        <li><a target="_blank" href="https://soundcloud.com/bathdays">soundcloud.com/bathdays</a></li>
                    </ul>
                    

            </div>
        </div>
    </div>

</div>






    
{% endblock %}
