@use "styles/colours";
@use "styles/fonts";

.world_war {
  display: flex;
  flex-direction: column;
  background: colours.$blue;
  height: 100%;
  width: 100%;
}

.world_war_svg {
  flex: 1;
}

.country {
  stroke: colours.$grey;
  stroke-width: 1;
  cursor: pointer;
}

.console {
  position: absolute;
  overflow: hidden;
  height: 11.3rem;
  width: 50%;
  bottom: 0;
  margin: 1rem;
  font-family: fonts.$monospace-font;
  background: rgba(colours.$steelgrey, 0.3);
  padding: 0.2rem 0.4rem;
}
