{% extends 'base.html' %}
{% load static %}

{% block title %} Secret Santa {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 bd-content">
            <h2 class="title">Secret Santa generator</h2>
            <p>Enter your friend's names and email addresses</p>
        </div>
    </div>

    <form class="row form" action="/secret-santa/" method="post">
        {% csrf_token %}
        <div class="col-md" id="forms">
            {{ santa_forms.management_form }}
            <div id="empty_form" style="display:none">
                <div class="card white shadow my-2">
                    <div class="card-body">
                        <button type="button" class="close delete" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {% for field in santa_forms.empty_form %}
                            {% if field.errors %}
                                <div class="alert alert-warning">
                                    {{ field.errors.as_text }}
                                </div>
                            {% endif %}
                        {% endfor %}

                        {% for field in santa_forms.empty_form %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {{ field }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if santa_forms.non_form_errors %}
                <div class="alert alert-warning">
                    {{ santa_forms.non_form_errors.as_text }}
                </div>
            {% endif %}
            <div id="santa-forms">
                {% for form in santa_forms.forms %}
                <div class="card white shadow my-2">
                    <div class="card-body">
                        <button type="button" class="close delete" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {% for field in form %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {% if field.errors %}
                                    <div class="alert alert-warning">
                                        {{ field.errors.as_text }}
                                    </div>
                                {% endif %}
                                {{ field }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
            
            <div class="form-group">
                <button type="button" id="add-another">add another</button>
            </div>       
        </div>

        <div class="col-md align-self-md-end">
            <div class="card white shadow my-2">
                <div class="card-body">
                    <div id="email-details">
                        {% for field in email_details_form %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {% if field.errors %}
                                    <div class="alert alert-warning">
                                        {{ field.errors.as_text }}
                                    </div>
                                {% endif %}
                                {{ field }}
                            </div>
                        {% endfor %}  
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <button type="submit">Send Emails</button>
            </div>
        </div>    
    </form>
{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/secret-santa.js' %}"></script>
{% endblock %}
