{% load staticfiles %}

<script src="{% static 'scripts/jquery.min.js' %}"></script>

<div class="container">
    <h1>Secret Santa generator</h1>
    <p>Enter your friend's names and email addresses</p>

    <form action="/secret-santa/" method="post">
        {% csrf_token %}
        <div id="forms">
            {{ santa_forms.management_form }}
            <div id="empty_form" style="display:none">
                <div>
                    {{ santa_forms.empty_form.as_table }}
                    <button type="button" class="delete">remove</button>
                </div>
            </div>
            {% for form in santa_forms.forms %}
                <div>
                    {{ form.as_table }}
                </div>
            {% endfor %}
        </div>
        <div id="email-details">
            {{ email_details_form.as_table }}
        </div>
        <button type="button" id="add-another">add another</button>
        <input type="submit" />
    </form>
</div>

<script>
    console.log('hello');
    form_count = Number($("[name=form-TOTAL_FORMS]").val());
    // get extra form count so we know what index to use for the next item.

    console.log(form_count);

    $("#add-another").click(function () {
        console.log('clicked');
        form_count++;
        $('#forms').append($('#empty_form').html().replace(/__prefix__/g, form_count));
        $('#id_form-TOTAL_FORMS').val(parseInt(form_count) + 1);
    })

    $("body").off("click").on("click", ".delete", function() {
        form_count--;
        $(this).parent().remove();
        $('#id_form-TOTAL_FORMS').val(parseInt(form_count) + 1);
    })
</script>