"""
This a template for email_settings.py, a file for storing sensitive email
login settings.

If you downloaded this from my github, rename this file to email_settings.py
for it to take effect.
"""

EMAIL_HOST = 'smtp.example.com'
EMAIL_HOST_USER = 'example_username'
EMAIL_HOST_PASSWORD = 'example_password'
EMAIL_PORT = 587
EMAIL_USE_TLS = True
