$woodsmoke: #191a24;
$steelgrey: #232332;
$cornflower: #3d4162;
$grey: #6c6c82;
$whisper: #e7e7f4;

$violet: #7945f9;
$blue: #05baff;
$rose: #f519a3;

$gradient: linear-gradient(200deg, $blue, $violet 50%, $rose);
$background: linear-gradient(160deg, $woodsmoke 0%, #283247 100%);
