$woodsmoke: #15151c;
$steelgrey: #232332;
$cornflower: #3d4162;
$grey: #6c6c82;
$whisper: #ebebf6;

$violet: #7945f9;
$blue: #05baff;
$rose: #f519a3;

$gradient: linear-gradient(200deg, $blue, $violet 50%, $rose);
