@use "./colours";
@use "./fonts";

html,
body {
  margin: 0;
  padding: 0;
  background: colours.$woodsmoke;
  color: colours.$whisper;
  font-family: fonts.$default-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.8;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

textarea,
select,
input,
button {
  outline: none;
}

p {
  line-height: 2.5;
}

a {
  color: colours.$violet;
  text-decoration: underline colours.$woodsmoke;
}

a:hover {
  color: colours.$whisper;
}

::selection,
::-moz-selection {
  color: colours.$whisper;
  background: colours.$woodsmoke;
}

button {
  outline: none;
  background: none;
  border: none;
  color: inherit;
}

.highlight {
  display: inline;
  color: colours.$woodsmoke;
  background: colours.$whisper;
  padding: 0.5rem;
  -webkit-box-decoration-break: clone;
  -ms-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
}
.highlight a {
  color: colours.$rose;
  text-decoration: none;
  border-bottom: 3px solid colours.$woodsmoke;
  padding-bottom: 1px;
}
.highlight a:hover,
.highlight a:focus {
  color: colours.$blue;
  // box-shadow: 0px 0px 0px 3px colours.$blue;
  border-bottom-color: colours.$blue;
}

.icon {
  vertical-align: middle;
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentcolor;
  font-size: 1.25rem;
  path {
    stroke: currentColor;
  }
}
